body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header {
  font-size: 4em;
}
.flex-container {
  display: flex;
  gap: 2em;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.button {
  font-size: x-large;
}
.grid-container {
  display: flex;
  width: auto;
  border: 1px solid black;
}

.grid-container > div > * {
  min-height: 1.7em;
  min-width: 1.7em;
}
